.main{
    min-height: 100vh;
    

    /* background-color: #2d313a; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    border: 2px solid whitesmoke;
    background: rgba(255, 255, 255, 0.01);
    box-shadow: 0 8px  32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: whitesmoke;
}
.card-footer{
    
    color: whitesmoke;
}

