.App {
  text-align: center;
}

header::before{
    background: url(./Components/assets/img3.jpg) no-repeat center center fixed;
    animation: animateBg 1s ease-in;
    content: '';
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:inherit;
    z-index: -1;
    box-shadow: 5px 10px 20px 5px rgb(0, 0, 0) inset;
  


}

.App-header {
  height: 100%;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}


@keyframes animateBg{
  0%{
    opacity: 0;
  }
  25%{
    opacity: 0.25;
  }
  50%{
    opacity: 0.5;
  }
  75%{
    opacity: 0.75;
  }
  100%{
    opacity: 1;
  }

}



