.App {
  text-align: center;
}

header::before{
    background: url(./Components/assets/img1.jpg) no-repeat center center fixed;
    content: '';
    filter: blur(3px);
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:inherit;
    z-index: -1;
    /* opacity: 0.3; */


}

.App-header {
  /* background: url(./Components/assets/img3.jpg) no-repeat center center fixed; */
 
  /* background-size: cover; */
  height: 100%;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}



